// anchor page style - start

.anchor_section{
    background-color: $secondary;
    height: calc(100svh - 80px);
    display: flex;
    text-align: center;
    @media (max-width: 768.68px) {
        flex-direction: column-reverse;
        align-items: center;
    }
    // > ul{
    //     width: 20%;
    //     background-color:  $secondary;
    //     margin: 0;
    //     padding: 0;
    //     display: flex;
    //     align-items: flex-end;
    //     flex-direction: column;
    //     padding: 50px 0px;
    //     > li{
    //         padding: 15px 20px;
    //         list-style: none;
    //         width: 75%;
    //         cursor: pointer;
    //         color: $primary;
    //         font-weight: 600;
    //         &.active{
    //             background-color: $primary;
    //             border-radius: 2.25rem 0 0 2.25rem;
    //             position: relative;
    //             color: $secondary;
    //             &:after{
    //                 content: '';
    //                 width: 15px;
    //                 height: 15px;
    //                 display: inline-block;
    //                 position: absolute;
    //                 right: 0;
    //                 top: -15px;
    //                 background-color: $secondary;
    //                 border-radius: 0 0 50%;
    //                 -webkit-box-shadow: 5px 5px 0px 0px $primary;
    //                 -moz-box-shadow: 5px 5px 0px 0px  $primary;
    //                 box-shadow: 5px 5px 0px 0px  $primary;
                
    //             }
    //             &:before{
    //                 content: '';
    //                 width: 15px;
    //                 height: 15px;
    //                 display: inline-block;
    //                 position: absolute;
    //                 right: 0;
    //                 bottom: -15px;
    //                 background-color: $secondary;
    //                 border-radius:0% 50% 0% 0%;
    //                 -webkit-box-shadow: 5px -5px 0px 0px $primary;
    //                 -moz-box-shadow: 5px -5px 0px 0px  $primary;
    //                 box-shadow: 5px -5px 0px 0px  $primary;
                
    //             }
    //         }
    //     }
    // }
    >.nav-bar{
        flex: 0 1 250px;
        min-width: 250px;
        background-color: $secondary;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding: 50px 0px;
        @media (max-width: 768.68px) {
            position: relative;
            z-index: 2;
            flex-direction: row;
            width:96%;
            // background-color: $primary;
            padding: 15px 0px;
        }
        > a{
            padding: 15px 20px;
            list-style: none;
            width: 75%;
            cursor: pointer;
            color: $primary;
            font-weight: 600;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 768.68px) {
                width: -webkit-fill-available;
                height: 50px;
                justify-content: center;
                padding: 15px 9px;
                }
            span{
                @media (max-width: 768.68px) {
                    display: none;
                }
                &.span-icon{
                    display: block;
                    // background-position: 50% 50%;
                    // background-size: 25px;
                    // background-repeat: no-repeat;
                    // background-origin: padding-box;
                    padding: 25px 0 0 25px;
                    mask-repeat: no-repeat;
                    -webkit-mask-repeat: no-repeat;
                    background-color: $secondary;
                    @media (max-width: 768.68px) {
                        // background-position: 50% 50%;
                        // background-repeat: no-repeat;
                        // background-origin: padding-box;
                        padding: 20px;
                        background-color: $primary;
                    }
                }
            }
            &.active{
                background-color: $primary;
                border-radius: 2.25rem 0 0 2.25rem;
                position: relative;
                color: $secondary;
                @media (max-width: 768.68px) {
                    border-radius: 10px;
                }
                span{
                    &.span-icon{
                        @media (max-width: 768.68px) {
                            border-radius: 5px;
                            animation: active-animation 0.5s;
                            background-color: $secondary;
                            @keyframes active-animation{
                                0%{
                                    padding: 20px 20px;
                                }
                                100%{
                                    padding: 30px 20px;
                                }
                            }
                        }
                    }
                }
                &:after{
                    content: '';
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: -15px;
                    background-color: $secondary;
                    border-radius: 0 0 50%;
                    -webkit-box-shadow: 5px 5px 0px 0px $primary;
                    -moz-box-shadow: 5px 5px 0px 0px  $primary;
                    box-shadow: 5px 5px 0px 0px  $primary;
                
                }
                &:before{
                    content: '';
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    bottom: -15px;
                    background-color: $secondary;
                    border-radius:0% 50% 0% 0%;
                    -webkit-box-shadow: 5px -5px 0px 0px $primary;
                    -moz-box-shadow: 5px -5px 0px 0px  $primary;
                    box-shadow: 5px -5px 0px 0px  $primary;
                
                }
                @media (max-width: 768.68px) {
                    &:after{display: none;}
                    &:before{display: none;}

                }
            }
        }
    }
    > div{
        width: 85%;
        // display: none;
        padding: 30px;
        text-align: left;
        background-color: $primary;
        border-radius: 10px 10px 10px 10px;
        margin: 0px 10px 10px 0px;
        &:not(.nav-bar):last-of-type{
            margin: 10px 0;
            height: calc(100vh - 150px);
            @media (max-width: 768.68px) {
            animation: active-tab-animation 0.9s;
            position: relative;
            z-index: 1;
            width: 80%;
            @keyframes active-tab-animation{
                0%{
                    bottom: -100%;
                }
                100%{
                    bottom: 0;
                }
            }
            }
        }
    }
    &.active_home_tab > {
        div{
            &.home_detail_tab{
            display: block;
        }
    }
    }
    &.active_about_tab{
        div{
            &.about_detail_tab{
            display: block;
        }
    }
    }
    &.active_contact_tab{
        div{
            &.contact_detail_tab{
            display: block;
        }
        }
    }
}

// anchor page style - end

// main nav page style start
.sub-tab-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
    margin: 10px 0;
    border: 2px solid $secondary;
    padding: 10px;
    border-radius: 10px;
    nav{
        display: flex;
        flex-direction: column;
        a{
            padding: 20px;
            min-width: 130px;
            border-radius: 10px 10px 0 0;
            text-decoration: none;
            color:$secondary;
            transition: all 0.9s;
        &.active{
            background: $secondary;;
            color: #fff;
            transition: all 0.9s;
        }
        }
    }
}
// main nav page style end

// login page - start
.login-container{
    
}

// login page - end

.breadcrumb{
    display: flex;
    gap: 10px;
}