// anchor page style - start

.anchor_section{
    background-color: $secondary;
    height: 100vh;
    display: flex;
    text-align: center;
    > ul{
        width: 20%;
        background-color:  $secondary;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding: 50px 0px;
        > li{
            padding: 15px 20px;
            list-style: none;
            width: 75%;
            cursor: pointer;
            color: $primary;
            font-weight: 600;
            &.active{
                background-color: $primary;
                border-radius: 2.25rem 0 0 2.25rem;
                position: relative;
                color: $secondary;
                &:after{
                    content: '';
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: -15px;
                    background-color: $secondary;
                    border-radius: 0 0 50%;
                    -webkit-box-shadow: 5px 5px 0px 0px $primary;
                    -moz-box-shadow: 5px 5px 0px 0px  $primary;
                    box-shadow: 5px 5px 0px 0px  $primary;
                
                }
                &:before{
                    content: '';
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    bottom: -15px;
                    background-color: $secondary;
                    border-radius:0% 50% 0% 0%;
                    -webkit-box-shadow: 5px -5px 0px 0px $primary;
                    -moz-box-shadow: 5px -5px 0px 0px  $primary;
                    box-shadow: 5px -5px 0px 0px  $primary;
                
                }
            }
        }
    }
    > div{
        width: 80%;
        display: none;
        padding: 30px;
        text-align: left;
        background-color: $primary;
        border-radius: 10px 10px 0px 10px;
    }
    &.active_home_tab > {
        div{
            &.home_detail_tab{
            display: block;
        }
    }
    }
    &.active_about_tab{
        div{
            &.about_detail_tab{
            display: block;
        }
    }
    }
    &.active_contact_tab{
        div{
            &.contact_detail_tab{
            display: block;
        }
        }
    }
}

// anchor page style - end