@charset "UTF-8";
@font-face {
  font-family: "Market_Deco";
  src: local("Market_Deco") url("") format("truetype");
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  word-break: break-word;
  font-family: "Trebuchet MS", sans-serif;
}
body a[href] {
  color: #723544;
}
body h1 {
  font-size: 32px;
  margin: 0 0 20px 0;
}
body p {
  margin: 0 0 10px 0;
}
body input:focus-visible {
  outline-color: #2B77A4 !important;
}

.anchor_section {
  background-color: #2B77A4;
  height: calc(100svh - 80px);
  display: flex;
  text-align: center;
}
@media (max-width: 768.68px) {
  .anchor_section {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.anchor_section > .nav-bar {
  flex: 0 1 250px;
  min-width: 250px;
  background-color: #2B77A4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 50px 0px;
}
@media (max-width: 768.68px) {
  .anchor_section > .nav-bar {
    position: relative;
    z-index: 2;
    flex-direction: row;
    width: 96%;
    padding: 15px 0px;
  }
}
.anchor_section > .nav-bar > a {
  padding: 15px 20px;
  list-style: none;
  width: 75%;
  cursor: pointer;
  color: #F4F1EB;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768.68px) {
  .anchor_section > .nav-bar > a {
    width: -webkit-fill-available;
    height: 50px;
    justify-content: center;
    padding: 15px 9px;
  }
}
@media (max-width: 768.68px) {
  .anchor_section > .nav-bar > a span {
    display: none;
  }
}
.anchor_section > .nav-bar > a span.span-icon {
  display: block;
  padding: 25px 0 0 25px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: #2B77A4;
}
@media (max-width: 768.68px) {
  .anchor_section > .nav-bar > a span.span-icon {
    padding: 20px;
    background-color: #F4F1EB;
  }
}
.anchor_section > .nav-bar > a.active {
  background-color: #F4F1EB;
  border-radius: 2.25rem 0 0 2.25rem;
  position: relative;
  color: #2B77A4;
}
@media (max-width: 768.68px) {
  .anchor_section > .nav-bar > a.active {
    border-radius: 10px;
  }
}
@media (max-width: 768.68px) {
  .anchor_section > .nav-bar > a.active span.span-icon {
    border-radius: 5px;
    animation: active-animation 0.5s;
    background-color: #2B77A4;
  }
  @keyframes active-animation {
    0% {
      padding: 20px 20px;
    }
    100% {
      padding: 30px 20px;
    }
  }
}
.anchor_section > .nav-bar > a.active:after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: -15px;
  background-color: #2B77A4;
  border-radius: 0 0 50%;
  box-shadow: 5px 5px 0px 0px #F4F1EB;
}
.anchor_section > .nav-bar > a.active:before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -15px;
  background-color: #2B77A4;
  border-radius: 0% 50% 0% 0%;
  box-shadow: 5px -5px 0px 0px #F4F1EB;
}
@media (max-width: 768.68px) {
  .anchor_section > .nav-bar > a.active:after {
    display: none;
  }
  .anchor_section > .nav-bar > a.active:before {
    display: none;
  }
}
.anchor_section > div {
  width: 85%;
  padding: 30px;
  text-align: left;
  background-color: #F4F1EB;
  border-radius: 10px 10px 10px 10px;
  margin: 0px 10px 10px 0px;
}
.anchor_section > div:not([class*=css-]) {
  color: #2B77A4;
}
.anchor_section > div:not(.nav-bar, [class*=css-]):last-of-type {
  margin: 10px 0;
  height: calc(100vh - 150px);
  overflow: auto;
}
@media (max-width: 768.68px) {
  .anchor_section > div:not(.nav-bar, [class*=css-]):last-of-type {
    animation: active-tab-animation 0.9s;
    position: relative;
    z-index: 1;
    width: 80%;
  }
  @keyframes active-tab-animation {
    0% {
      bottom: -100%;
    }
    100% {
      bottom: 0;
    }
  }
}
.anchor_section.active_home_tab > div.home_detail_tab {
  display: block;
}
.anchor_section.active_about_tab div.about_detail_tab {
  display: block;
}
.anchor_section.active_contact_tab div.contact_detail_tab {
  display: block;
}

.sub-tab-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;
  margin: 10px 0;
  border: 2px solid #2B77A4;
  padding: 10px;
  border-radius: 10px;
}
.sub-tab-nav nav {
  display: flex;
  flex-direction: column;
}
.sub-tab-nav nav a {
  padding: 20px;
  min-width: 130px;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  color: #2B77A4;
  transition: all 0.9s;
}
.sub-tab-nav nav a.active {
  background: #2B77A4;
  color: #fff;
  transition: all 0.9s;
}

.breadcrumb {
  display: flex;
  gap: 10px;
  display: none;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-container .blog-card {
  flex: 0 1 30%;
  padding: 10px;
  border-radius: 10px;
}
.blog-container .blog-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.login-section {
  height: 100vh;
  align-content: center;
  justify-items: center;
}
.login-section > section {
  background-color: #2B77A4;
  color: #F4F1EB;
  padding: 50px;
}
.login-section > section > form > div {
  position: relative;
}
.login-section > section > form input {
  font-size: 1.2rem;
  border-radius: 1.25em;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.login-section > section > form input ~ .error-span {
  position: absolute;
  left: 0;
  bottom: 0;
}

.name {
  height: 100vh;
  clip-path: polygon(0% 9.25%, 17.65% 9.25%, 17.65% 0%, 100% 0%, 100% 89.82%, 80.56% 89.82%, 80.56% 100%, 0% 100%);
  background-color: #000000;
}

.header-section {
  background-color: #2B77A4;
  min-height: 80px;
  display: flex;
  align-items: center;
}
.header-section .logo-container {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 20%;
  justify-content: center;
}
@media (max-width: 768.68px) {
  .header-section .logo-container {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header-section .logo-container .img-container {
  width: 40px;
  height: 40px;
  background-color: #F4F1EB;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-section .logo-container .img-container img {
  max-width: 100%;
}
.header-section .logo-container .logo-name {
  font-size: 24px;
  color: #F4F1EB;
}
.header-section .search-container {
  margin-left: auto;
  width: 30%;
  position: relative;
}
.header-section .search-container input {
  height: 40px;
  width: 90%;
  border-radius: 100vw;
  padding: 0 20px;
  border: 0;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 43px;
  background-position: 3% 50%;
  font-size: 1rem;
}

.detail_tab {
  border-radius: 16px;
  background-color: #E2D8C6;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
}
.detail_tab .detail_tab_sec {
  min-height: 100px;
  min-width: 100px;
  border-radius: 16px;
  display: flex;
}
.detail_tab .detail_tab_sec.sec-header {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 5px;
  background-color: #2B77A4;
  gap: 10px;
}
.detail_tab .detail_tab_sec.sec-header .sec-header-bubble {
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 16px;
  padding: 5px 10px;
  width: 100%;
  transition: scale 500ms;
  color: #F4F1EB;
  cursor: pointer;
}
.detail_tab .detail_tab_sec.sec-header .sec-header-bubble:has(+ .sec-header-bubble:hover) {
  scale: 1.02;
}
.detail_tab .detail_tab_sec.sec-header .sec-header-bubble:hover {
  scale: 1.03;
  z-index: 2;
  background-color: #F4F1EB;
  color: #2B77A4;
}
.detail_tab .detail_tab_sec.sec-header .sec-header-bubble:hover + .sec-header-bubble {
  scale: 1.02;
}
.detail_tab .detail_tab_sec.sec-one {
  background-color: #F4F1EB;
  width: calc(50% - 40px);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.detail_tab .detail_tab_sec.sec-two {
  background-color: #F4F1EB;
  width: calc(50% - 12px);
  padding: 10px;
}
.detail_tab .detail_tab_sec.sub_sec-one {
  width: -webkit-fill-available;
  background-color: #E2D8C6;
}
.detail_tab .detail_tab_sec.sub_sec-two {
  width: -webkit-fill-available;
  background-color: #E2D8C6;
}

.tooltip {
  position: relative;
  cursor: pointer;
}
.tooltip:hover::after {
  content: attr(data-tooltip-txt);
  background-color: #2B77A4;
  position: absolute;
  border-radius: 5px 5px 5px 5px;
  padding: 7px;
  color: #F4F1EB;
  left: 0;
  font-size: 1rem;
  width: -moz-max-content;
  width: max-content;
  max-width: 200px;
  bottom: calc(100% + 4px);
}
.tooltip:hover::before {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2B77A4;
  bottom: 100%;
  left: 6px;
}

.alert-box {
  position: fixed;
  right: 20px;
  top: 100px;
  width: 300px;
  height: 100px;
  background-color: #F4F1EB;
  border-radius: 10px;
  border: 2px solid #2B77A4;
  overflow: hidden;
  animation: slide-in-right 0.5s;
  transition: ease all 0.5s;
}
.alert-box.event-close {
  right: -100%;
  transition: ease all 0.5s;
}
.alert-box .alert-header {
  background-color: #2B77A4;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding-left: 30px;
  position: relative;
}
.alert-box .alert-header::before {
  content: " ⚠";
  font-weight: 400;
  position: absolute;
  left: 5px;
  line-height: 0;
}
.alert-box .alert-header .alert-close {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 35px;
  rotate: 45deg;
  cursor: pointer;
}
.alert-box .alert-header .alert-close::after {
  content: " +";
  font-size: inherit;
}
@keyframes slide-in-right {
  0% {
    right: -100%;
  }
  100% {
    right: 20px;
  }
}

.carousel .radio-btn-one:checked ~ div section .carousel-div-one {
  margin-left: 0px;
}
.carousel .radio-btn-two:checked ~ div section .carousel-div-two {
  margin-left: -200px;
}
.carousel .radio-btn-three:checked ~ div section .carousel-div-three {
  margin-left: -400px;
}
.carousel .carousel-div-one,
.carousel .carousel-div-two,
.carousel .carousel-div-three {
  height: 100px;
  min-width: 200px;
  transition: 1000ms;
  animation: carousel-div-three-move infinite;
}
.carousel .carousel-div-one {
  background-color: red;
}
.carousel .carousel-div-two {
  background-color: aquamarine;
}
.carousel .carousel-div-three {
  background-color: rosybrown;
}
.carousel section {
  border: 2px solid #000;
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
}
@keyframes carousel-div-one-move {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -200px;
  }
}
@keyframes carousel-div-two-move {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: -400px;
  }
}
@keyframes carousel-div-three-move {
  0% {
    margin-left: 0px;
    animation-duration: 1s;
  }
  50% {
    margin-left: -200px;
    animation-duration: 1s;
  }
  100% {
    margin-left: -400px;
    animation-duration: 1s;
  }
}

body .page_404_detail_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100% !important;
  margin: 0 !important;
  height: 100% !important;
  z-index: 9 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}/*# sourceMappingURL=style.css.map */