@font-face {
  font-family: "Market_Deco";
  src: local("Market_Deco") url("") format("truetype");
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  word-break: break-word;
  font-family: "Trebuchet MS", sans-serif;
}
body a[href] {
  color: #723544;
}
body h1 {
  font-size: 32px;
  margin: 0 0 20px 0;
}
body p {
  margin: 0 0 10px 0;
}
body input:focus-visible {
  outline-color: #2B77A4 !important;
}

.anchor_section {
  background-color: #2B77A4;
  height: 100vh;
  display: flex;
  text-align: center;
}
.anchor_section > .nav-bar {
  width: 20%;
  background-color: #2B77A4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 50px 0px;
}
.anchor_section > .nav-bar > a {
  padding: 15px 20px;
  list-style: none;
  width: 75%;
  cursor: pointer;
  color: #F4F1EB;
  font-weight: 600;
  text-decoration: none;
}
.anchor_section > .nav-bar > a.active {
  background-color: #F4F1EB;
  border-radius: 2.25rem 0 0 2.25rem;
  position: relative;
  color: #2B77A4;
}
.anchor_section > .nav-bar > a.active:after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: -15px;
  background-color: #2B77A4;
  border-radius: 0 0 50%;
  box-shadow: 5px 5px 0px 0px #F4F1EB;
}
.anchor_section > .nav-bar > a.active:before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -15px;
  background-color: #2B77A4;
  border-radius: 0% 50% 0% 0%;
  box-shadow: 5px -5px 0px 0px #F4F1EB;
}
.anchor_section > div {
  width: 80%;
  padding: 30px;
  text-align: left;
  background-color: #F4F1EB;
  border-radius: 10px 10px 0px 10px;
}
.anchor_section.active_home_tab > div.home_detail_tab {
  display: block;
}
.anchor_section.active_about_tab div.about_detail_tab {
  display: block;
}
.anchor_section.active_contact_tab div.contact_detail_tab {
  display: block;
}

.sub-tab-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;
  margin: 10px 0;
  border: 2px solid #2B77A4;
  padding: 10px;
  border-radius: 10px;
}
.sub-tab-nav nav {
  display: flex;
  flex-direction: column;
}
.sub-tab-nav nav a {
  padding: 20px;
  min-width: 130px;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  color: #2B77A4;
  transition: all 0.9s;
}
.sub-tab-nav nav a.active {
  background: #2B77A4;
  color: #fff;
  transition: all 0.9s;
}

.header-section {
  background-color: #2B77A4;
  min-height: 80px;
  display: flex;
  align-items: center;
}
.header-section .logo-container {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 20%;
  justify-content: center;
}
.header-section .logo-container .img-container {
  width: 40px;
  height: 40px;
  background-color: #F4F1EB;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-section .logo-container .img-container img {
  max-width: 100%;
}
.header-section .logo-container .logo-name {
  font-size: 24px;
  color: #F4F1EB;
}
.header-section .search-container {
  margin-left: auto;
  width: 30%;
  position: relative;
}
.header-section .search-container input {
  height: 40px;
  width: 90%;
  border-radius: 100vw;
  padding: 0 20px;
  border: 0;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 43px;
  background-position: 3% 50%;
  font-size: 1rem;
}

.detail_tab {
  border-radius: 16px;
  background-color: #E2D8C6;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  height: -moz-fit-content;
  height: fit-content;
}
.detail_tab .detail_tab_sec {
  min-height: 100px;
  min-width: 100px;
  border-radius: 16px;
  display: flex;
}
.detail_tab .detail_tab_sec.sec-header {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 5px;
  background-color: #2B77A4;
  gap: 10px;
}
.detail_tab .detail_tab_sec.sec-header .sec-header-bubble {
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 16px;
  padding: 5px 10px;
  width: 100%;
  transition: scale 500ms;
  color: #F4F1EB;
  cursor: pointer;
}
.detail_tab .detail_tab_sec.sec-header .sec-header-bubble:has(+ .sec-header-bubble:hover) {
  scale: 1.02;
}
.detail_tab .detail_tab_sec.sec-header .sec-header-bubble:hover {
  scale: 1.03;
  z-index: 2;
  background-color: #F4F1EB;
  color: #2B77A4;
}
.detail_tab .detail_tab_sec.sec-header .sec-header-bubble:hover + .sec-header-bubble {
  scale: 1.02;
}
.detail_tab .detail_tab_sec.sec-one {
  background-color: #F4F1EB;
  width: calc(50% - 40px);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.detail_tab .detail_tab_sec.sec-two {
  background-color: #F4F1EB;
  width: calc(50% - 12px);
  padding: 10px;
}
.detail_tab .detail_tab_sec.sub_sec-one {
  width: -webkit-fill-available;
  background-color: #E2D8C6;
}
.detail_tab .detail_tab_sec.sub_sec-two {
  width: -webkit-fill-available;
  background-color: #E2D8C6;
}

.carousel .radio-btn-one:checked ~ div section .carousel-div-one {
  margin-left: 0px;
}
.carousel .radio-btn-two:checked ~ div section .carousel-div-two {
  margin-left: -200px;
}
.carousel .radio-btn-three:checked ~ div section .carousel-div-three {
  margin-left: -400px;
}
.carousel .carousel-div-one,
.carousel .carousel-div-two,
.carousel .carousel-div-three {
  height: 100px;
  min-width: 200px;
  transition: 1000ms;
  animation: carousel-div-three-move infinite;
}
.carousel .carousel-div-one {
  background-color: red;
}
.carousel .carousel-div-two {
  background-color: aquamarine;
}
.carousel .carousel-div-three {
  background-color: rosybrown;
}
.carousel section {
  border: 2px solid #000;
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
}
@keyframes carousel-div-one-move {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -200px;
  }
}
@keyframes carousel-div-two-move {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: -400px;
  }
}
@keyframes carousel-div-three-move {
  0% {
    margin-left: 0px;
    animation-duration: 1s;
  }
  50% {
    margin-left: -200px;
    animation-duration: 1s;
  }
  100% {
    margin-left: -400px;
    animation-duration: 1s;
  }
}

body .page_404_detail_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
}/*# sourceMappingURL=style.css.map */