
@use "sass:color";
@import "./variable.scss";
@import "./anchor_page.scss";
@import "./sub_page/home_page.scss";
@import "./sub_page/about_page.scss";
@import "./sub_page/header_section.scss";
@import "./sub_page/detail_component.scss";
@import "./sub_page/contact_page.scss";
@import "./sub_page/css_carousel.scss";
@import "./sub_page/page_404.scss";
