.tooltip{
    position: relative;
    cursor: pointer;
    &:hover{
        &::after{
            content: attr(data-tooltip-txt);
            background-color: #2B77A4;
            position: absolute;
            border-radius: 5px 5px 5px 5px;
            padding: 7px;
            color: #F4F1EB;
            left: 0;
            font-size: 1rem;
            width: max-content;
            max-width: 200px;
            bottom: calc(100% + 4px);
        }
        &::before{
            content: "";
            position: absolute;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #2B77A4;
            bottom: 100%;
            left: 6px;
        }
    }
}
.alert-box{
    position: fixed;
    right: 20px;
    top: 100px;
    width: 300px;
    height: 100px;
    background-color: $primary;
    border-radius: 10px;
    border: 2px solid $secondary;
    overflow: hidden;
    animation: slide-in-right 0.5s;
    transition: ease all 0.5s;
    &.event-close{
        right: -100%;
        transition: ease all 0.5s;      
    }
    .alert-header{
        background-color: $secondary;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        color: white;
        font-weight: 700;
        font-size: 20px;
        padding-left: 30px;
        position: relative;
        &::before{
            content:' \26A0';
            font-weight: 400;
            position: absolute;
            left: 5px;
            line-height: 0;
        }
        .alert-close{
            height: fit-content;
            width: fit-content;
            position: relative;
            font-size: 35px;
            rotate: 45deg;
            cursor: pointer;
            &::after{
                content:' \002B';
                font-size: inherit;
            }
        }
    }
    @keyframes slide-in-right {
        0%{
            right: -100%;
        }
        100%{
            right: 20px;
        }
    }
}