.carousel{
    .radio-btn-one:checked ~ div section .carousel-div-one{
            margin-left: 0px;

    }
    .radio-btn-two:checked ~ div section .carousel-div-two{
        margin-left: -200px;

    }
    .radio-btn-three:checked ~ div section .carousel-div-three{
        margin-left: -400px;

    }
    .carousel-div-one,
    .carousel-div-two,
    .carousel-div-three{
        height: 100px;
        min-width: 200px;
        transition: 1000ms;
        animation: carousel-div-three-move infinite;
    }
    .carousel-div-one{
        background-color: red;
    }
    .carousel-div-two{
        background-color: aquamarine;
    }
    .carousel-div-three{
        background-color: rosybrown;
    }
    section{
        border: 2px solid #000;
        height: 200px;
        width: 200px;
        overflow: hidden;
        display: flex;
    }
    @keyframes carousel-div-one-move {
        from {margin-left: 0px;}
        to {margin-left: -200px;}
      }
      @keyframes carousel-div-two-move {
        from {margin-left: -200px;}
        to {margin-left: -400px;}
      }
      @keyframes carousel-div-three-move {
        0% {margin-left: 0px;
            animation-duration: 1s;}
        50% {margin-left: -200px;
            animation-duration: 1s;}
        100% {margin-left: -400px;
            animation-duration: 1s;}
      }
}