.detail_tab{
    border-radius: 16px;
    background-color: $primary-one;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    height: fit-content;
    display: none;
    .detail_tab_sec{
        min-height: 100px;
        min-width: 100px;
        border-radius: 16px;
        display: flex;
        &.sec-header{
            width: 100%;
            min-height: fit-content;
            padding: 5px;
            background-color: $secondary;
            gap: 10px;
            .sec-header-bubble{
                min-width: fit-content;
                border-radius: 16px;
                padding: 5px 10px; 
                width: 100%;
                transition: scale 500ms;
                color: $primary;
                cursor: pointer;
                &:has( + .sec-header-bubble:hover){
                    scale: 1.02;                }
                &:hover{
                    scale: 1.03;
                    z-index: 2;
                    background-color: $primary;
                    color: $secondary;
                    + .sec-header-bubble{
                        scale: 1.02;
                    }
                }
            }
        }
        &.sec-one{
            background-color: $primary;
            width: calc(50% - 40px);
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;  
        }
        &.sec-two{
            background-color: $primary;
            width: calc(50% - 12px);
            padding: 10px;
        }
        &.sub_sec-one{
            width: -webkit-fill-available;
            background-color: $primary-one; 
        }
        &.sub_sec-two{
            width: -webkit-fill-available;
            background-color: $primary-one; 
        }
    }

    
}